<div class="container">

  <nz-card nzType="inner" nzTitle="VouchersDetails" [nzExtra]="extraTemplate">

    <div class="container mt-3">

      <nz-table #basicTable [nzData]="voucherDetsilsList">
        <thead>
          <tr>
            <th>id</th>
            <th>voucherCode</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.id}}</td>
            <td>{{data.voucherCode}}</td>
          </tr>
        </tbody>
      </nz-table>

    </div>

  </nz-card>

  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="toVouchers()"><i nz-icon nzType="backward"></i>Vouchers</button>
  </ng-template>

</div>
