.logo {
  background: #000C17;
  height: 63px;
  font-size: medium;
  font-weight: bold;
  color: #fff;
}

.left-layout {
  height: 100vh;
}

a{
  color: #F0F2F5;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

.right-layout {
  margin-left: 200px;
}

nz-header {
  background:#5E92C4 ;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

.inner-content {
  padding: 24px;
  background: #fff;
  text-align: center;
}

nz-footer {
  text-align: center;
  background: #5E92C4;
}



