<div class="container">
  <nz-card nzType="inner" nzTitle="Doctors" [nzExtra]="extraTemplate">

    <div class="row">

      <div class="col-sm-10">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue" (ngModelChange)="onSearchChange($event)" [nzAutocomplete]="auto"/>
        </nz-input-group>

        <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>

        <ng-template #suffixIconButton>
          <button (click)="search()" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </div>

      <div class="col-sm-2">
        <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Search Filters"
          [(ngModel)]="selectFilterSearchValue" (ngModelChange)="onSearchFilterChange($event)" >
          <nz-option nzLabel="DoctorCode" nzValue="DoctorCode"></nz-option>
          <nz-option nzLabel="DoctorName" nzValue="DoctorName"></nz-option>
        </nz-select>
      </div>

    </div>

    <div class="container mt-3">

      <nz-table #basicTable [nzData]="doctorList">
        <thead>
          <tr>
            <th>id</th>
            <th>DoctorCode</th>
            <th>Name</th>
            <th>Phone1</th>
            <th>Phone2</th>
            <th>email1</th>
            <th>adress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.id}}</td>
            <td>{{data.doctorCode}}</td>
            <td>{{data.doctorName}}</td>
            <td>{{data.phone1}}</td>
            <td>{{data.phone2}}</td>
            <td>{{data.email1}}</td>
            <td>{{data.doctorAddress}}</td>
            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-danger" (click)="onDelete(data.id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>

            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-primary" (click)="onEdit(data.id)">
                <i class="fas fa-user-edit"></i></a>
            </td>

          </tr>
        </tbody>
      </nz-table>

    </div>

  </nz-card>

  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="showModal()"><i nz-icon nzType="user-add"></i>Add Doctor</button>
  </ng-template>


  <!--add doctor -->

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
(nzOnCancel)="handleCancel()">

<ng-template #modalTitle>
  Add new Pharmacy
</ng-template>

<ng-template #modalContent>

  <form (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="form-group">
      <label for="name">Doctor Code</label>
      <input type="text" class="form-control" id="doctorCode" required [(ngModel)]="doctor.doctorCode"
        name="doctorCode">
    </div>

    <div class="form-group">
      <label for="name">Phone1</label>
      <input type="text" class="form-control" id="phone1" required [(ngModel)]="doctor.phone1" name="phone1">
    </div>

    <div class="form-group">
      <label for="name">Phone2</label>
      <input type="text" class="form-control" id="phone2" required [(ngModel)]="doctor.phone2" name="phone2">
    </div>


    <div class="form-group">
      <label for="name">Email1</label>
      <input type="text" class="form-control" id="email1" required [(ngModel)]="doctor.email1" name="email1">
    </div>


    <div class="form-group">
      <label for="name">Address</label>
      <input type="text" class="form-control" id="doctorAddress" required [(ngModel)]="doctor.doctorAddress" name="doctorAddress">
    </div>

    <div class="form-group">
      <label for="name">Doctor Name</label>
      <input type="text" class="form-control" id="doctorName" required [(ngModel)]="doctor.doctorName" name="doctorName">
    </div>


    <button type="submit" class="btn btn-primary btn-block">{{saveButtonCheck}}</button>
  </form>

</ng-template>

<ng-template #modalFooter>
  <p class="text-center text-info">{{message}}</p>
</ng-template>


</nz-modal>


<!-- end add doctor -->

</div>
