<div class="container">
  <nz-card nzTitle="Project" [nzExtra]="extraTemplate">
    <div>

      <nz-table #basicTable [nzData]="projectList[0]" nzSize="small">
        <thead>
          <tr>
            <th>id</th>
            <th>Project Name</th>
            <th>Project Duration</th>
            <th>Number Of Gifts</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.id}}</td>
            <td>{{data.projectName}}</td>
            <td>{{data.projectCycleDuration}}</td>
            <td>{{data.projectCycleSlicing}}</td>
            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-primary" (click)="onEdit(data.id)">
                <i class="fas fa-user-edit"></i></a>
            </td>
          </tr>
        </tbody>

      </nz-table>
    </div>

  </nz-card>
  <ng-template #extraTemplate>
  </ng-template>

  <!-- edite project -->
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle> EditeProject</ng-template>
    <ng-template #modalContent>
      <div>

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your projectName!">
              <nz-form-label nzRequired>Project Name</nz-form-label>
              <nz-input-group>
                <input type="text" nz-input formControlName="projectName" [(ngModel)]="project.projectName" placeholder="projectName" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please Select ProjectCycle Duration!">
              <nz-form-label nzRequired>ProjectCycle Duration</nz-form-label>
              <nz-select class="selcect" nzShowSearch nzAllowClear  nzPlaceHolder="{{project.projectCycleDuration}}"
                formControlName="ProjectCycleDuration">
                <nz-option *ngFor="let item of monthList" nzValue="{{item}}" nzLabel="{{item}}:Month">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please Select Number Of Gifts!">
              <nz-form-label nzRequired>Number Of Gifts</nz-form-label>
              <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="{{project.projectCycleSlicing}}"
                formControlName="projectCycleSlicing">
                <nz-option *ngFor="let item of monthList" nzValue="{{item}}" nzLabel="{{item}}:times">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your medicineName!">
              <nz-form-label nzRequired>Medicine Name</nz-form-label>
              <nz-input-group>
                <input type="text" nz-input formControlName="medicineName" [(ngModel)]="project.medicines[0].medicineName" placeholder="medicineName" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please Select Gifts Slicing!">
              <nz-form-label nzRequired>Gifts Slicing</nz-form-label>
              <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="{{project.medicines[0].medicineCycle.durationBetWeenGift}}"
                formControlName="durationBetWeenGift">
                <nz-option *ngFor="let item of monthList" nzValue="{{item}}" nzLabel="{{item}}:Month">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please Select Medecine Burches!">
              <nz-form-label nzRequired>Medecine Burches</nz-form-label>
              <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="{{project.medicines[0].medicineCycle.numberMedecineBurches}}"
                formControlName="medecineBurches">
                <nz-option *ngFor="let item of monthList" nzValue="{{item}}" nzLabel="{{item}}:times">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Support Type!">
              <nz-form-label nzRequired>Support Type</nz-form-label>
              <nz-input-group>
                <input type="text" nz-input formControlName="supportType" [(ngModel)]="project.medicines[0].medicineCycle.medicineSupport.supportType" placeholder="supportType" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Suppport Description!">
              <nz-form-label nzRequired>Suppport Description</nz-form-label>
              <nz-input-group>
                <input type="text" nz-input formControlName="suppportDescription" [(ngModel)]="project.medicines[0].medicineCycle.medicineSupport.suppportDescription"  placeholder="Suppport Description" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <hr>
          <button nz-button [nzType]="'primary'" [disabled]="!validateForm.valid">Save</button>

        </form>
      </div>
    </ng-template>
    <ng-template #modalFooter>
    </ng-template>
  </nz-modal>



  <div class="mt-2">
    <nz-card nzTitle="Project Medicine" [nzExtra]="extraTemplate">
      <nz-table #mediecineTable [nzData]="projectList[0]" nzSize="small">
        <thead>
          <tr>
            <th>id</th>
            <th>Medicine Name</th>
            <th>Gifts Slicing</th>
            <th>MedecineBurches</th>
            <th>Support Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of mediecineTable.data">
            <td>{{data.medicines[0].id}}</td>
            <td>{{data.medicines[0].medicineName}}</td>
            <td>{{data.medicines[0].medicineCycle.durationBetWeenGift}}</td>
            <td>{{data.medicines[0].medicineCycle.numberMedecineBurches}}</td>
            <td>{{data.medicines[0].medicineCycle.medicineSupport.supportType}}</td>
            <td>{{data.medicines[0].medicineCycle.medicineSupport.suppportDescription}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
    <ng-template #extraTemplate>
    </ng-template>
  </div>
  <!--add project -->
  <!-- end add doctor -->

</div>