<div class="container">

  <nz-card nzType="inner" nzTitle="Vouchers" [nzExtra]="extraTemplate">

    <div class="row">

      <div class="col-2">
        <nz-date-picker [nzFormat]="dateFormat"></nz-date-picker>
      </div>

      <div class="col-8">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue"
            (ngModelChange)="onSearchChange($event)" [nzAutocomplete]="auto" />
        </nz-input-group>
        <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
        <ng-template #suffixIconButton>
          <button (click)="search()" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </div>

      <div class="col-2">
        <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Search Filters"
          [(ngModel)]="selectFilterSearchValue" (ngModelChange)="onSearchFilterChange($event)">
          <nz-option nzLabel="DoctorCode" nzValue="DoctorCode"></nz-option>
          <nz-option nzLabel="DoctorName" nzValue="DoctorName"></nz-option>
        </nz-select>
      </div>

    </div>

    <div class="container mt-3">

      <nz-table #basicTable [nzData]="voucherOrdeList">
        <thead>
          <tr>
            <th>id</th>
            <th>Order Date</th>
            <th>Voucher Counter</th>
            <th>Doctor Name</th>
            <th>Governorate Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.id}}</td>
            <td>{{data.orderDate}}</td>
            <td>{{data.voucherCounter}}</td>
            <td>{{data.doctorName}}</td>
            <td>{{data.governorateName}}</td>
            <td>{{data.status}}</td>
            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-danger" (click)="onDelete(data.id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>

            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-primary" (click)="onEdit(data.id)">
                <i class="fas fa-user-edit"></i></a>
            </td>

            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-primary" (click)="onInfo(data.id)">
                <i class="fas fa-info-circle"></i></a>
            </td>


          </tr>
        </tbody>
      </nz-table>

    </div>

  </nz-card>

  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="showModal()"><i nz-icon nzType="user-add"></i>Add Pharmacy</button>
  </ng-template>


  <!--add vpucher -->

  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">

    <ng-template #modalTitle>
      Add new vouchers order
    </ng-template>

    <ng-template #modalContent>

      <form (ngSubmit)="onSubmit()" autocomplete="off">
        <h6 class="text-center text-info">Date:{{ dateToday | date: "dd/MM/yyy" }}</h6>
        <nz-divider nzType="horizontal"></nz-divider>

        <div class="row" align="center">

          <div class="col">
            <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Governorate"
              [(ngModel)]="goverSelectValue" name="Governorate">
              <nz-option *ngFor="let item of goverList" nzValue="{{item.governorateName}}"
                nzLabel="{{item.governorateName}}">
              </nz-option>
            </nz-select>
          </div>

          <div class="col ">
            <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Doctors" [(ngModel)]="doctorSelectValue"
              name="doctorName">
              <nz-option *ngFor="let item of doctorList" nzValue="{{item.doctorName}}" nzLabel="{{item.doctorName}}">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <!-- end row -->
        <nz-divider nzType="horizontal"></nz-divider>
        <div class="row" align="center">
          <div class="col">
            <div class="form-group">
              <label for="name">Number of Vouchers</label>
              <input type="text" class="form-control" id="voucherCounter" required
                [(ngModel)]="voucherOrde.voucherCounter" name="voucherCounter">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="name">Vouchers Statues</label>
              <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Vouchers Statues"
                [(ngModel)]="doctorSelectValue" name="status">
                <nz-option *ngFor="let item of doctorList" nzValue="{{item.doctorName}}" nzLabel="{{item.doctorName}}">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>

        <nz-divider nzType="horizontal"></nz-divider>

        <button type="submit" class="btn btn-primary btn-block mt-6">{{saveButtonCheck}}</button>
      </form>

    </ng-template>

    <ng-template #modalFooter>
      <p class="text-center text-info">{{message}}</p>
    </ng-template>


  </nz-modal>


  <!-- end add doctor -->

</div>
<!--end of container-->
