<!--
<div class="text-center">
  <h1 class="animate__animated animate__fadeInUp animate__delay-2s">
    Michael
  </h1>
</div>
 -->
<div class="container fill rounded ">
  <div class="row  fill rounded ">
    <div class="col rcorners2 shadow animate__animated animate__fadeInLeft " style="background-color:#F5F4F0;">
      <div>
        <h3 class="text-center text-white rounded-sm animate__animated animate__flipInX animate__delay-2s mt-4 p-2" style="background-color: #467660;">Gentum HealthCare </h3>
      </div>
    </div>
    <div class="col rcorners2  shadow animate__animated animate__fadeInRight" style="background-color:#467660;">

    </div>
  </div>
</div>
