<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <!--profile master-->
      <nz-card>
        <div class="text-center">
          <nz-avatar nzSize="large" nzIcon="user" style="background-color:#1B435D;"></nz-avatar>
          <h6 class="text-dark mt-3">{{patient.patientName}}</h6>
          <hr />
          <div class="bg-success rounded">
            <h5 class="text-white">{{patient.patientStatues.patientStatues}}</h5>
          </div>
          <hr />
          <div class="row">
            <!--cele of Phone-->
            <div class="col">
              <p class="text-muted"> Code</p>
            </div>
            <div class="col">
              <p class="text-info"> {{patient.patientCode}} </p>
            </div>
          </div>
          <hr />

          <div class="row">
            <!--cele of Phone-->
            <div class="col">
              <p class="text-muted">IDNO</p>
            </div>
            <div class="col">
              <p class="text-info"> {{patient.idno}} </p>
            </div>
          </div>
          <hr />

          <div class="row">
            <!--cele of Phone-->
            <div class="col">
              <p class="text-muted">Initial</p>
            </div>
            <div class="col">
              <p class="text-info"> {{patient.patientInitial}} </p>
            </div>
          </div>
        </div>
      </nz-card>
      <div class="text-center mt-2">
        <nz-card nzType="inner" nzTitle="Patient Support" [nzExtra]="PatientSupport">
          <div>

            <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Patient Support"
              [(ngModel)]="patientSupportValue" (ngModelChange)="onPatientSupportChange($event)">
              <nz-option nzLabel="Send Code sms" nzValue="PatientCode"></nz-option>
              <nz-option nzLabel="Send warning sms" nzValue="PatientWarning"></nz-option>
            </nz-select>
            <hr>
            <div class="mt-3">
              <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Patient TimeLine"
                [(ngModel)]="PatientTimeLineValue" (ngModelChange)="onPatientTimeLineChange($event)">
                <nz-option nzLabel="Sell Medicine Box " nzValue="PatientCode"></nz-option>
                <nz-option nzLabel="Gift Medicine Box" nzValue="PatientWarning"></nz-option>
              </nz-select>
            </div>
          </div>


        </nz-card>

        <ng-template #PatientSupport></ng-template>

        <!-- warning model -->
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Modal Title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading">
          <div>
            <div class="form-group">
              <label for="name"> Warning Message </label>
              <input type="text" class="form-control" id="warningMessage" required [(ngModel)]="smsObject.messageText"
                name="warningMessage">
            </div>
          </div>
        </nz-modal>


      </div>
    </div>
    <div class="col-sm-9">
      <!-- profile Details -->
      <nz-card>
        <nz-tabset>
          <nz-tab nzTitle="Patient Details">
            <div class="row ml-1 mr-1">
              <!--content of details-->
              <div class="col rounded border border-secondary  " style="background-color:#4B93C5;">
                <nz-divider nzText="Phone 1" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.phone}}
                </h6>
              </div>
              <div class="col rounded border border-secondary  ml-1" style="background-color:#4B93C5;">
                <nz-divider nzText="Phone 2" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.phone2}}
                </h6>
              </div>
              <div class="col rounded border border-secondary  ml-1" style="background-color:#4B93C5;">
                <nz-divider nzText="Phone 3" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.phone3}}
                </h6>
              </div>

            </div>
            <!--end row 1-->

            <!--row 2-->
            <div class="row mt-2 ml-1 mr-1 ">
              <!--content of details-->
              <div class="col rounded border border-secondary" style="background-color:#4B93C5;">
                <nz-divider nzText="Email1" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.email1}}
                </h6>
              </div>

              <div class="col rounded border border-secondary ml-1 " style="background-color:#4B93C5;">
                <nz-divider nzText="Email 2" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.email2}}
                </h6>
              </div>

              <div class="col rounded border border-secondary ml-1 " style="background-color:#4B93C5;">
                <nz-divider nzText="Address" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.address}}
                </h6>
              </div>




            </div>
            <!--end row 2-->
            <!--row 3-->
            <div class="row mt-2 ml-1 mr-1">

              <div class="col rounded border border-secondary " style="background-color:#4B93C5;">
                <nz-divider nzText="Home" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.home}}
                </h6>
              </div>
              <div class="col rounded border border-secondary ml-1 " style="background-color:#4B93C5;">
                <nz-divider nzText="DateOfBirth" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.dateOfBirth}}
                </h6>
              </div>

              <div class="col rounded border border-secondary ml-1 " style="background-color:#4B93C5;">
                <nz-divider nzText="Age" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.age}}
                </h6>
              </div>
            </div>
            <!--end row 3-->
            <!--row 4-->
            <div class="row mt-2 ml-1 mr-1">

              <div class="col rounded border border-secondary " style="background-color:#4B93C5;">
                <nz-divider nzText="Diagnosis" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.diagnosis}}
                </h6>
              </div>


              <div class="col rounded border border-secondary ml-1" style="background-color:#4B93C5;">
                <nz-divider nzText="Region" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.region}}
                </h6>
              </div>

              <div class="col rounded border border-secondary ml-1" style="background-color:#4B93C5;">
                <nz-divider nzText="CreatedDate" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.createdDate| date: 'dd/MM/yyyy'}}
                </h6>
              </div>


            </div>
            <!--end row 4-->
          </nz-tab>
          <nz-tab nzTitle="Patient Project">
            <!--row 1-->
            <div class="row  ml-1 mr-1">

              <div class="col rounded border border-secondary " style="background-color:#4B93C5;">
                <nz-divider nzText="Patient Doctor" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.doctor.doctorName}}
                </h6>
              </div>

              <div class="col rounded border border-secondary ml-1" style="background-color:#4B93C5;">
                <nz-divider nzText="Patient Project" nzOrientation="left"></nz-divider>
                <h6 class="text-center text-white ">
                  {{patient.projects[0].projectName}}
                </h6>
              </div>

              <div class="col rounded border border-secondary ml-1" style="background-color:#4B93C5;">
                <nz-divider nzText="Patient Vouchers" nzOrientation="left"></nz-divider>
                <nz-table #smallTable nzSize="small" [nzData]="patient.voucherDetails">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Order Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of smallTable.data">
                      <td>{{data.id}}</td>
                      <td>{{data.voucherCode}}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>

            </div>
            <!--end row 1-->
            <div class="row mt-2 ">
              <div class="col ">
                <div class="col ">
                  <nz-divider nzText="Patient medicines" nzOrientation="center"></nz-divider>
                  <nz-table #medecineTable nzSize="small" [nzData]="patient.projects">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Duration </th>
                        <th>Number Burches</th>
                        <th>SupportType</th>
                        <th>Suppport Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of medecineTable.data">
                        <td>{{data.medicines[0].id}}</td>
                        <td>{{data.medicines[0].medicineName}}</td>
                        <td>{{data.medicines[0].medicineCycle.durationBetWeenGift}}</td>
                        <td>{{data.medicines[0].medicineCycle.numberMedecineBurches}}</td>
                        <td>{{data.medicines[0].medicineCycle.medicineSupport.supportType}}</td>
                        <td>{{data.medicines[0].medicineCycle.medicineSupport.suppportDescription}}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </div>

          </nz-tab>
          <nz-tab nzTitle="Patient Cycle">
            <div class="row">
              <div class="col">
                <nz-card nzType="inner" nzTitle="Patient Sycle Statues" [nzExtra]="extraTemplate">
                  <nz-table #cycleTable nzSize="small" [nzData]="cycleListSize">
                    <thead>
                      <tr>
                        <th>Complete Cycle </th>
                        <th>Current Cycle </th>
                        <th>Remaining Days</th>
                        <th>Spent Days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{completeCycle}}</td>
                        <td>{{currentCycleStatuse}}</td>
                        <td>{{currentCycleRemaining}}</td>
                        <td>{{currentCycleSpent}}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                </nz-card>
                <ng-template #extraTemplate>
                  <button nz-button nzType="primary" (click)="onActivePatient()">Active Patient</button>
                </ng-template>

                <!-- Active Patient model -->
                <nz-modal [(nzVisible)]="patientActiveIsVisibale" nzTitle="Active patient"
                  (nzOnCancel)="handleActivePatientCancel()" (nzOnOk)="handleActivePatientOk()"
                  [nzOkLoading]="isActivePatientOkLoading">
                  <div>
                    <div class="form-group">
                      <label for="name"> Start CycleDate </label>
                      <nz-date-picker [(ngModel)]="slectBirthDate" name="slectBirthDate" [nzFormat]="dateFormat">
                      </nz-date-picker>
                    </div>
                  </div>
                </nz-modal>
              </div>
            </div>

            <div class=" mt-3">
              <nz-card nzType="inner" nzTitle="Patient Activities" [nzExtra]="PatientActivities">
                <div>
                  <nz-collapse>
                    <nz-collapse-panel [nzHeader]='"Patient Plan"' [nzActive]="false" [nzDisabled]="false">
                      <nz-table #planTable nzSize="small" [nzData]="patientPlanList[0]">
                        <thead>
                          <tr>
                            <th>Id </th>
                            <th> Event Date </th>
                            <th>Event Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of planTable.data">
                            <td>{{data.id}}</td>
                            <td>{{data.EventDate}}</td>
                            <td>{{data.description}}</td>
                          </tr>
                        </tbody>
                      </nz-table>
                    </nz-collapse-panel>
                  </nz-collapse>
                </div>

                <div class="mt-1">
                  <nz-collapse>
                    <nz-collapse-panel [nzHeader]='"Patient TimeLine"' [nzActive]="false" [nzDisabled]="false">
                      <div>
                        <nz-table #timelineTable nzSize="small" [nzData]="timelineList[0]">
                          <thead>
                            <tr>
                              <th>Id </th>
                              <th> Event Date </th>
                              <th>Event Description</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of timelineTable.data">
                              <td>{{data.id}}</td>
                              <td>{{data.createdDate}}</td>
                              <td>{{data.description}}</td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </nz-collapse-panel>
                  </nz-collapse>
                </div>

              </nz-card>
              <ng-template #PatientActivities>
                <div class="col-sm-2">
                  <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Patient Cycle"
                    [(ngModel)]="selectPatientCycleValue" (ngModelChange)="onPatientCycleChange($event)">
                    <nz-option *ngFor="let item of patientCycleList[0]" nzValue="{{item.id}}"
                      nzLabel="{{item.startCycleDate}}">
                    </nz-option>
                  </nz-select>
                </div>
              </ng-template>
            </div>
          </nz-tab>
        </nz-tabset>
      </nz-card>
    </div>

  </div>
</div>
