<div class="container">
  <nz-card nzType="inner" nzTitle="Patients" [nzExtra]="extraTemplate">

    <div class="row">

      <div class="col-sm-10">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue"
            (ngModelChange)="onSearchChange($event)" [nzAutocomplete]="auto" />
        </nz-input-group>

        <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>

        <ng-template #suffixIconButton>
          <button (click)="search()" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </div>

      <div class="col-sm-2">
        <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Search Filters"
          [(ngModel)]="selectFilterSearchValue" (ngModelChange)="onSearchFilterChange($event)">
          <nz-option nzLabel="Patient Code" nzValue="PatientCode"></nz-option>
          <nz-option nzLabel="Patient Name" nzValue="PatientName"></nz-option>
        </nz-select>
      </div>

    </div>

    <div class="container mt-3">

      <nz-table #basicTable [nzData]="patientList">
        <thead>
          <tr>
            <th>id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Phone1</th>
            <th>Phone2</th>
            <th>Email1</th>
            <th>Statues</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.id}}</td>
            <td>{{data.patientCode}}</td>
            <td>{{data.patientName}}</td>
            <td>{{data.phone}}</td>
            <td>{{data.phone2}}</td>
            <td>{{data.email1}}</td>
            <td>{{data.patientStatues.patientStatues}}</td>
            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-danger" (click)="onDelete(data.id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>

            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-primary" (click)="onEdit(data.id)">
                <i class="fas fa-user-edit"></i></a>
            </td>

            <td>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="btn text-warning" (click)="onInfo(data.id)">
                <i class="fas fa-info-circle"></i></a>
            </td>

          </tr>
        </tbody>
      </nz-table>

    </div>

  </nz-card>

  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="showModal()"><i nz-icon nzType="user-add"></i>Add Patient</button>
  </ng-template>

  <!--add Patient -->

  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">

    <ng-template #modalTitle>
      Add new Patient
    </ng-template>

    <ng-template #modalContent>

      <form (ngSubmit)="onSubmit()" autocomplete="off">

        <div class="form-group">
          <label for="name">Patient Code</label>
          <input type="text" class="form-control" id="patientCode" required [(ngModel)]="patient.patientCode"
            name="patientCode">
        </div>

        <div class="form-group">
          <label for="name">Age</label>
          <input type="text" class="form-control" id="phone1" required [(ngModel)]="patient.age" name="age">
        </div>

        <div class="form-group">
          <label for="name">home</label>
          <input type="text" class="form-control" id="home" required [(ngModel)]="patient.home" name="home">
        </div>


        <div class="form-group">
          <label for="name">phone 1</label>
          <input type="text" class="form-control" id="phone" required [(ngModel)]="patient.phone" name="phone">
        </div>

        <div class="form-group">
          <label for="name">phone 2</label>
          <input type="text" class="form-control" id="phone2" required [(ngModel)]="patient.phone2" name="phone2">
        </div>

        <div class="form-group">
          <label for="name">phone 3</label>
          <input type="text" class="form-control" id="phone3" required [(ngModel)]="patient.phone3" name="phone3">
        </div>


        <div class="form-group">
          <label for="name">Email1</label>
          <input type="text" class="form-control" id="email1" required [(ngModel)]="patient.email1" name="email1">
        </div>

        <div class="form-group">
          <label for="name">Email2</label>
          <input type="text" class="form-control" id="email2" required [(ngModel)]="patient.email2" name="email2">
        </div>

        <div class="form-group">
          <label for="name">Patient Name</label>
          <input type="text" class="form-control" id="patientName" required [(ngModel)]="patient.patientName"
            name="patientName">
        </div>

        <div class="form-group">
          <label for="name">Patient Initial</label>
          <input type="text" class="form-control" id="patientInitial" required [(ngModel)]="patient.patientInitial"
            name="patientInitial">
        </div>

        <div class="form-group">
          <label for="name">Patient IDNO</label>
          <input type="text" class="form-control" id="idno" required [(ngModel)]="patient.idno" name="idno">
        </div>

        <div class="form-group">
          <label for="name">Patient address</label>
          <input type="text" class="form-control" id="address" required [(ngModel)]="patient.address" name="address">
        </div>

        <div class="form-group">
          <label for="name">Patient diagnosis</label>
          <input type="text" class="form-control" id="diagnosis" required [(ngModel)]="patient.diagnosis"
            name="diagnosis">
        </div>

        <div class="form-group">
          <label for="name">Patient region</label>
          <input type="text" class="form-control" id="region" required [(ngModel)]="patient.region" name="region">
        </div>

        <div class="row mt-1">
          <div class="col">
            <span>Select Doctors </span>
          </div>
          <div class="col ">
            <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Doctors" [(ngModel)]="doctorSelectValue"
              name="doctorName">
              <nz-option *ngFor="let item of doctorList" nzValue="{{item.id}}" nzLabel="{{item.doctorName}}">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div class="row  mt-1">
          <div class="col">
            <span>Select Project </span>
          </div>

          <div class="col ">
            <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder={{projectSelectValue}}
              [(ngModel)]="projectSelectValue" name="projectName">
              <nz-option *ngFor="let item of projectList" nzValue="{{item.id}}" nzLabel="{{item.projectName}}">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div class="row  mt-1">
          <div class="col">
            <span>Select Vouchers </span>
          </div>
          <div class="col ">
            <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Vouchers"
              [(ngModel)]="vouchersSelectValue" name="voucherCode">
              <nz-option *ngFor="let item of voucherDetailsList" nzValue="{{item.id}}" nzLabel="{{item.voucherCode}}">
              </nz-option>
            </nz-select>
          </div>
        </div>


        <div class="row  mt-1">
          <div class="col">
            <span>Select Statues </span>
          </div>
          <div class="col ">
            <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Statues"
              [(ngModel)]="statuesSelectValue" name="projectName">
              <nz-option *ngFor="let item of patientStatuesList" nzValue="{{item.id}}"
                nzLabel="{{item.patientStatues}}">
              </nz-option>
            </nz-select>
          </div>
        </div>

        <div class="row  mt-1">
          <div class="col">
            <span>Select Gender </span>
          </div>
          <div class="col ">
            <nz-select class="selcect" nzShowSearch nzAllowClear nzPlaceHolder="Gender"
              [(ngModel)]="patient.gender" name="gender">
              <nz-option nzLabel="Male" nzValue="Male"></nz-option>
              <nz-option nzLabel="female" nzValue="female"></nz-option>
            </nz-select>
          </div>
        </div>

        <div class="row  mt-1">
          <div class="col">
            <span>Select DateOfBirth </span>
          </div>
          <div class="col ">
            <nz-date-picker [(ngModel)]="slectBirthDate" name="slectBirthDate" [nzFormat]="dateFormat">
            </nz-date-picker>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">{{saveButtonCheck}}</button>
      </form>

    </ng-template>

    <ng-template #modalFooter>
      <p class="text-center text-info">{{message}}</p>
    </ng-template>

  </nz-modal>

  <!-- end add patient -->

</div>
